  <div class="containter">
      <div class="row justify-content-md-center">
          <div class="row" >
            <div class="col-md-12">
              <div *ngFor="let ticket of tickets" class="card" (click)="openTicket(ticket)">
                <h5 class="card-header listItem"><span class="fa fa-ticket"></span> Pileti nr. {{ticket._id}}</h5>
              </div>
            </div>
          </div>
            <div>
                <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card">
                          <h5 class="card-header" id="adminTitle"><span class="fa fa-ticket"></span> Lisa uus pilet</h5>
                          <div class="card-body">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item"><span class="ticketLabel">Parkimise aeg: </span><input id="newTimeInput" type="number"> tundi</li>
                              <li class="list-group-item"><span class="ticketLabel">Asukoht: </span><input id="newLocInput" type="text"></li>
                              <li class="list-group-item"><span class="ticketLabel">Reg. märk: </span><input id="newRegInput" type="text"></li>
                              <li class="list-group-item"><span class="ticketLabel">Email: </span><input id="newEmailInput" type="text"></li>
                              <li class="list-group-item"><span class="ticketLabel">Mobiil: </span><input id="newMobInput" type="text"></li>
                            </ul>
                            <h2 id="hind">Hind: <input id="newPriceInput" type="number">€</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div *ngIf="!editing" class="row justify-content-md-center">
                      <button class="button button4" (click)="newTicket()"><span class="fa fa-check"></span></button>
                  </div>
                </div>
                  <div  *ngIf="editing" class="row justify-content-md-center">
                      <button class="button button4" (click)="updateTicket()"><span class="fa fa-edit"></span></button>
                      <button class="button button4" (click)="deleteTicket()"><span class="fa fa-trash"></span></button>
                      <button class="button button4" (click)="emptyData()"><span class="fa fa-remove"></span></button>
                  </div>
            </div>
          </div>
  </div>
 