<div class="container" *ngIf="!editing">
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
      <div class="card">
        <h5 class="card-header"><span class="fa fa-ticket"></span> Pileti nr. {{ticket?._id}}</h5>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="ticketLabel">Parkimise aeg:</span> {{ticket?.timeInHours}} tundi</li>
            <li class="list-group-item"><span class="ticketLabel">Kuupäev:</span> {{dateFormat(ticket?.create_date)}}</li>
            <li class="list-group-item"><span class="ticketLabel">Asukoht:</span> {{ticket?.location}}</li>
            <li class="list-group-item"><span class="ticketLabel">Reg. märk:</span> {{ticket?.vehRegistration}}</li>
            <li class="list-group-item"><span class="ticketLabel">Email:</span> {{ticket?.email}}</li>
            <li class="list-group-item"><span class="ticketLabel">Mobiil:</span> {{ticket?.mobile}}</li>
          </ul>
          <h2 id="hind">Hind: {{ticket?.price}}€</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="editing">
    <div class="row justify-content-md-center">
      <div class="col-sm-4">
        <div class="card">
          <h5 class="card-header"><span class="fa fa-ticket"></span> Pileti nr. {{ticket._id}}</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="ticketLabel">Parkimise aeg: </span><input id="timeInput" type="number" [value]="ticket.timeInHours"> tundi</li>
              <li class="list-group-item"><span class="ticketLabel">Kuupäev:</span> {{dateFormat(ticket.create_date)}}</li>
              <li class="list-group-item"><span class="ticketLabel">Asukoht: </span><input id="locInput" type="text" [value]="ticket.location"></li>
              <li class="list-group-item"><span class="ticketLabel">Reg. märk: </span><input id="regInput" type="text" [value]="ticket.vehRegistration"></li>
              <li class="list-group-item"><span class="ticketLabel">Email: </span><input id="emailInput" type="text" [value]="ticket.email"></li>
              <li class="list-group-item"><span class="ticketLabel">Mobiil: </span><input id="mobInput" type="text" [value]="ticket.mobile"></li>
            </ul>
            <h2 id="hind">Hind: <input id="priceInput" type="number" [value]="ticket.price">€</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="!editing" class="row justify-content-md-center">
  <button class="button button2" (click)="goBack()"><span class="fa fa-arrow-left"></span></button>
  <button class="button button4" (click)="startEditing()"><span class="fa fa-pencil"></span></button>
  <button class="button button3" (click)="delTicket()"><span class="fa fa-trash"></span></button>
</div>
<div *ngIf="editing" class="row justify-content-md-center">
  <button class="button button2" (click)="stopEditing()"><span class="fa fa-arrow-left"></span></button>
  <button class="button button4" (click)="editTicket()"><span class="fa fa-check"></span></button>
</div>